<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Participate Page</title>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/nav.css" type="text/css">
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/create-container.css" type="text/css">
    <!-- default stylesheets-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/table.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/vendor/zabuto_calendar.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/calendar.js"></script>
    <script type="text/javascript" src="/scripts/resultTable.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/vendor/zabuto_calendar.min.js"></script>
    <script type="application/javascript">
      $(document).ready(function () {
        console.log(jQuery)
          $("#my-calendar").zabuto_calendar({language: "en"});
      });

  </script>
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  </head>

  <body>

    <nav>
      <span class="logo">
       <strong>SCHOODLE</strong>
      </span>
    </nav>


    <h3>CONGRATS ON MAKING YOUR OWN SCHOODLE!</h3>
    <main class="create-container">

      <div class="main-header;", style="margin: 1em;">

          <p><h1><%= options[0].title %></h1></p>
          <p><h4><strong>What:</strong></h4> <%= options[0].description %></p>
          <p><h4><strong>Where:</strong></h4> <%= options[0].location %></p>
          <h4>Participate:</h4>
          <form method="POST" class="participate" action="/api/users" id="new"></form>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <% for(let option of options){%>

                  <th scope="col" style="width: <%= 100/options.length %>">
                    <%= option.date %>
                  </th>
                <% } %>


              </tr>
              </thead>
              <tbody>
                <% for(let result of results){%>
                  <tr>
                     <td>
                       <%= name %>
                     </td>
                     <% for(let option of options){%>
                      <td style="width: <%= 100/options.length %>">
                        amy
                        <!-- <input type="checkbox" checked> -->
                      </td>
                    <% } %>
                  </tr>
                  <% } %>
                <tr>
                  <td>
                      <input form="new" id="name" type="text" name="name" placeholder="Name" style="margin-bottom: .5em">
                      <input form="new" id="email" type="email" name="email" placeholder="Email">
                  </td>
                  <% for(let option of options){%>
                    <td style="width: <%= 100/options.length %>">
                      <input form="new" name="choices[]" type="checkbox" >
                    </td>
                  <% } %>
                  </tr>
                </tbody>
              </table>
              <button form="new" type="submit" class="add-row" value="add-row">Submit Availability</button></td>
    </main>
  </body>
</html>
